.sidebar-menu {
    position: relative;
    width: 60px;
    font-family: Fira Sans Condensed;
}



.sidebar-menu.open {
    position: relative;
    width: 300px;
    border-right: 1px solid #ccc;
    background:  transparent;
}

.sidebar-toggle {
    height: 40px;
    width: 40px;
    line-height: 46px;
    display: block;
    text-align: center;
    float: left;
    margin-right: 20px;
    color: #333;
    background: #efefef;
    border-radius: 50%;
}

.sidebar-toggle:hover i {
    color: #fff;
}

.sidebar-toggle i {
    font-size: 23px;
}

.sidebar-menu .desktop-menu {
    height: 88vh;
    position: sticky;
    top: 0;

    /* .sidebar-menu .desktop-menu */
    padding: 30px 0;
    overflow-y: overlay;
}


.sidebar-menu .desktop-menu::-webkit-scrollbar {
    width: 1px;
}

.sidebar-menu .desktop-menu::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sidebar-menu .desktop-menu::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid #fafafa;
}

.sidebar-menu.open .desktop-menu {
    width: 246px;
}

.desktop-menu ul {
    padding-left: 0;
}

.desktop-menu ul li {
    list-style: none;
}

.sidebar-menu .desktop-menu ul li {
    text-align: center;
    font-size: 18px;
}

.sidebar-menu .desktop-menu ul li a {
    padding: 10px;
    display: block;
}

.sidebar-menu.open .desktop-menu ul li {
    text-align: unset;
}

.sidebar-menu.open .desktop-menu ul li a {
    display: block;
    padding: 10px 30px;
    font-weight: 500;
    /* color: #333; */
    font-family: Fira Sans Condensed !important;
}

.sidebar-menu.open ul li a span {
    display: inline-block;
    font-family: 'Fira Sans Condensed';
}
.sidebar-menu.open ul li a:hover span{
    color: white;
}

.sidebar-menu ul li a span {
    display: none;
}

.sidebar-menu.open .desktop-menu ul li.current-menu-item a:hover,
.sidebar-menu.open .desktop-menu ul li a:hover {
    color: #fff;
    background-color: #e90101;
}

.sidebar-menu.open .desktop-menu ul li a i {
    margin-right: 10px;
    font-size: smaller;
    line-height: 30px;
    width: 30px;
    height: 30px;

}


.desktop-menu ul li a i {
    line-height: 40px;
    color: #606060;
    text-align: center;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    background: #efefef;
}

.desktop-menu ul li.current_page_item a i {
    color: #fff;
}
