.btn{
    background: linear-gradient(to right, #e90101, #e90101);
    font-family: Fira Sans Condensed;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    border-radius: 50px;
    height: 50px;
    padding: 0 50px;
    border: none;
}
.btn:hover{
    border: none;
    color: white;
}


@media screen and  (max-width : 500px){
    .btn {
        padding: 4px 25px !important;
        height: 45px;
    }
    
}