.blog--item {
    margin-bottom: 30px;
}
.blog--item img {
    border-radius: 10px !important;
}
.blog--meta {
    margin: 20px 0 10px;
    font-family: 'Fira Sans Condensed';
    font-weight: 500;
}
.blog--meta {
    margin: 20px 0 10px;
    font-family: 'Fira Sans Condensed';
    font-weight: 500;
}
.blog--content a {
    text-transform: capitalize;
    color: #333;
}
.pl-10 {
    padding-left: 10px;
}
.blog--content h4 {
    font-size: 22px;
    font-family: 'Fira Sans Condensed';
    color: #333;
    word-wrap: break-word;
    font-weight: 600;
}
