/* 
.site-footer ul li a
{
    text-decoration: none;
}
.site-footer ul li {
    font-size: 16px;
    font-weight: 400;
    line-height: 2em;
}
.site-footer ul li a,
.site-footer h5 {
    color: #fff;
    font-family: Open Sans;
}

.site-footer h5{
    font-family: Fira Sans Condensed;
    word-wrap: break-word;
    font-weight: 600;
}

a.active {
    text-decoration: none;
} */
