.titbar{
    font-family: Fira Sans Condensed;
    color: #333;
    word-wrap: break-word;
    font-weight: 600;
    line-height: 1.2;
    font-size: 2.5rem;

}

@media screen  and (max-width : 500px){
    .titbar{
        font-size: 2rem;
        
    }
    
}